@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './style/button.css';
@import 'tailwindcss/utilities';
@import './style/nav.css';
@import './style/style.css';
@import './style/form.css';
@import './style/table.css';
@import './style/header.css';

:root {
  --text-color: #333;
  --background-color: #fff;
}

.dark {
  --text-color: #fff;
  --background-color: #333;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}
